{% extends 'base.html.twig' %}

{% block title %}Liste film!{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="mb-5 text-center">Les films</h1>
    <div class="row">
        <div class="d-flex justify-content-evenly">
            <button type="button" class="btn btn-lg bg-secondary mt-2 "><a href="{{path('add_film')}}">Ajouter un film a la liste</a></button>
        </div>
    </div>
    <div class="row row-cols-md-5 g-4 mt-5 d-flex justify-content-evenly">
        {% for film in films %}
            <div class="card m-2 mt-4 mb-4 bg-dark">
                <figure>
                    <a href="{{ path('detail_film' , {'id': film.id}) }}"><img src="{{ film.affiche }}" class="detail-film card-img-top" style="max-height:200px;" alt="..."></a>
                </figure>
                <div class="card-text">
                    <h5 class="card-title text-center"><a href="{{ path('detail_film' , {'id': film.id } ) }}">{{film.titreFilm}}</a></h5>
                </div>
                <hr class="bg-light">
                <div class="dropdown d-flex justify-content-evenly">
                    <button type="button" class="btn btn-lg bg-secondary"><a href="{{ path('edit_film', {'id': film.id}) }}">Modifier <i class="fa-solid fa-pen-nib"></i></a></button>
                    <button type="button" class="btn btn-lg bg-secondary"><a href="{{ path('delete_film', {'id': film.id}) }}">Suppirmer <i class="fa-solid fa-trash"></i></a></button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>  
                      
{% endblock %}
